@model Vaja1.Models.Student

@{
    ViewBag.Title = "TestModela";
}

<h2>Študent</h2>
<ul>
    <li>ID študenta : @Model.StudentId</li>
    @Html.TextBox("StudentName", Model.StudentName, new { @class = "form-control" }) 
    @Html.TextBoxFor(m=>m.StudentName, new { @class = "form-control" })
    <li>Starost     : @Model.Age</li>
    @Html.DropDownListFor(m=>m.Spol,
    new SelectList(Enum.GetValues(typeof(Vaja1.Models.Gender))),
    "Izberi spol")
</ul>

